<h1>メニュー</h1>

<div class="box">
  <%= link_to "・タスク一覧", tasks_path %>
  <br>
  <%= link_to "・パスワード変更", edit_profile_path, method: :get %>
  <br>
  <%= link_to "・ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
</div>