.box {
   border: solid 1px black;
   padding: 20px 10px 5px 10px;
}

.center {
   margin: 80px 500px;
   }
   
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.fixed2{
  margin-top: 80px;
}

.relative {
  position: relative;
  bottom: -50px;
  width: 100%;
}

h1 {
  margin: 30px 0;
}

.width{
   width: 500px;
}

.col-3{
   color:red;
}